@use "./vars.scss" as *;
.footer-container{
    .footer-text{
        color: #444;
        font-size: 14px;
    }
    .social-icons{
        a{
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: $secondColor;
            color: #fff;
            text-align: center;
            line-height: 24px;
            border-radius: 50%;
            font-size: 12px;
            transition: .3s;
            &:hover{
                background-color: $mainColor;
            }
        }
    }
}
